:root {
  /* Variables */
  --font-family: "Switzer", sans-serif;
  --border-radius-primary: 0.3rem;
  --border-radius-secondary: 5rem;
  --primary-color: #3dd973;
  --secondary-color: red;
  --tertiary-color: rgba(38, 201, 155, 0.1);
  --padding: 0.5rem;

  --color: #ebebef;
  --background-color-primary: #08080a;
  --background-color-secondary: #2d2d32;
  --border-color: #bbbbbb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color);
  font-family: var(--font-family);
  letter-spacing: 0.105rem;
}

body {
  background-color: var(--background-color-primary);
  width: 100%;
}

#root {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--color);
}

img.cover {
  object-fit: cover;
}

img.container {
  object-fit: contain;
}

input {
  background-color: transparent;
  border: none;
}

input:focus {
  outline: none;
}

li {
  list-style: none;
}

.a {
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.align-baseline {
  align-items: baseline;
}

.b {
}

.bg-transparent {
  background-color: transparent !important;
}

.bold {
  font-weight: 600;
}

.border-none {
  border: none;
}

.border-primary {
  border: 1px solid var(--primary-color);
}

.border-secondary {
  border: 1px solid var(--secondary-color);
}

.border-tertiary {
  border: 1px solid var(--tertiary-color);
}

.border-default {
  border: 1px solid var(--border-color);
}

.border-thin {
  border-width: 1px;
}

.border-medium {
  border-width: 2px;
}

.border-thick {
  border-width: 4px;
}

.border-radius-primary {
  border-radius: var(--border-radius-primary);
}

.border-radius-secondary {
  border-radius: var(--border-radius-secondary);
}

.border-radius-none {
  border-radius: 0;
}

.border-solid {
  border-style: solid;
}

.border-dashed {
  border-style: dashed;
}

.border-dotted {
  border-style: dotted;
}

.border-double {
  border-style: double;
}

.border-none {
  border: none;
}

.border-bg-primary {
  border: 2px solid var(--background-color-primary);
}

.border-bg-secondary {
  border: 2px solid var(--background-color-secondary);
}

.border-bg-color {
  border: 2px solid var(--color);
}

.btn {
  border-radius: var(--border-radius-primary);
  background-color: rgb(110, 106, 106);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.btn.btn-primary {
  background-color: var(--primary-color);
  color: rgb(25, 25, 28);
}

.btn.short {
  border-bottom: 4px solid #840e0a;
}

.btn.long {
  border-bottom: 4px solid #006600;
}

.btn.scale-down:active {
  border-bottom-width: 1px;
}

.c {
}
.d {
}

.dom-volume {
  transition: all 0.5s ease;
}

.e {
}
.f {
}

.fill-green * {
  fill: rgb(28, 176, 28);
}

.fill-red * {
  fill: red;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.g {
}

.grid {
  display: grid;
}

.grid-col-1 {
  grid-column: 1;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-cols-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-row-1 {
  grid-row: 1;
}

.grid-rows-1 {
  grid-template-rows: repeat(1, 1fr);
}

.grid-rows-2 {
  grid-template-rows: repeat(2, 1fr);
}

.grid-rows-3 {
  grid-template-rows: repeat(3, 1fr);
}

.grid-rows-4 {
  grid-template-rows: repeat(4, 1fr);
}

.grid-rows-5 {
  grid-template-rows: repeat(5, 1fr);
}

.g-1 {
  gap: 0.25rem;
}

.g-2 {
  gap: 0.5rem;
}

.g-3 {
  gap: 1rem;
}

.h {
}

.hover-pointer:hover {
  cursor: pointer;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.i {
}
.j {
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.k {
}
.l {
}
.m {
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.n {
}

.o {
}

.order-card form > div {
  margin-bottom: 0.5rem;
  height: 2rem;
  /* background-color: red; */
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.p {
}

.p-0 {
  padding: 0;
}
.p-xs {
  padding: 0.25rem;
}
.p-sm {
  padding: 0.5rem;
}
.p-md {
  padding: 1rem;
}
.p-lg {
  padding: 1.5rem;
}
.p-xl {
  padding: 2rem;
}
.p-2xl {
  padding: 3rem;
}
.p-3xl {
  padding: 4rem;
}

.pt-0 {
  padding-top: 0;
}
.pt-xs {
  padding-top: 0.25rem;
}
.pt-sm {
  padding-top: 0.5rem;
}
.pt-md {
  padding-top: 1rem;
}
.pt-lg {
  padding-top: 1.5rem;
}
.pt-xl {
  padding-top: 2rem;
}

.pb-0 {
  padding-bottom: 0;
}
.pb-xs {
  padding-bottom: 0.25rem;
}
.pb-sm {
  padding-bottom: 0.5rem;
}
.pb-md {
  padding-bottom: 1rem;
}
.pb-lg {
  padding-bottom: 1.5rem;
}
.pb-xl {
  padding-bottom: 2rem;
}

.pl-0 {
  padding-left: 0;
}
.pl-xs {
  padding-left: 0.25rem;
}
.pl-sm {
  padding-left: 0.5rem;
}
.pl-md {
  padding-left: 1rem;
}
.pl-lg {
  padding-left: 1.5rem;
}
.pl-xl {
  padding-left: 2rem;
}

.pr-0 {
  padding-right: 0;
}
.pr-xs {
  padding-right: 0.25rem;
}
.pr-sm {
  padding-right: 0.5rem;
}
.pr-md {
  padding-right: 1rem;
}
.pr-lg {
  padding-right: 1.5rem;
}
.pr-xl {
  padding-right: 2rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-xs {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-sm {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-md {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-lg {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-xl {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-xs {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-sm {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-md {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-lg {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-xl {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.q {
}
.r {
}

.s {
}

.snackbar > .btn {
  border: none;
  background-color: transparent;
  color: grey;
}

.snackbar .btn.active {
  /* border: 2px solid var(--background-color-secondary); */
  background-color: rgb(11, 10, 10);
  color: var(--color);
}

.snackbar.order-type .btn:hover {
  color:rgb(109, 200, 250);
  text-shadow: 0 0 10px rgb(109, 200, 250);
}

.snackbar.order-type .btn.active {
  color:rgb(109, 200, 250);
  text-shadow: 0 0 10px rgb(109, 200, 250);
}

.span-xs {
  font-size: 0.5rem;
}

.span-sm {
  font-size: 0.75rem;
}

.span-md {
  font-size: 1rem;
}

.span-lg {
  font-size: 1.25rem;
}

.span-xl {
  font-size: 1.5rem;
}

.span-2xl {
  font-size: 2rem;
}

.span-3xl {
  font-size: 2.5rem;
}

.span-4xl {
  font-size: 3rem;
}

.span-5xl {
  font-size: 4rem;
}

.span-tiny {
  font-size: 0.625rem;
}

.span-small {
  font-size: 0.875rem;
}

.span-base {
  font-size: 1rem;
}

.span-huge {
  font-size: 3.5;
}

.t {
}

.text-green {
  color: rgb(28, 176, 28);
}

.text-green.increase {
  text-shadow: 0 0 10px green;
}

.text-grey {
  color: grey;
}

.text-red {
  color: red;
}

.text-red.decrease {
  text-shadow: 0 0 10px red;
}

.u {
}
.v {
}
.w {
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.x {
}
.y {
}
.z {
}
