:root {
  /* Variables */
  --border-radius-primary: 0.3rem;
  --border-radius-secondary: 5rem;
  --primary-color: white;
  --secondary-color: red;
  --green: #26c99b;
  --green-soft: rgba(38, 201, 155, 0.1);
  --red: #f1493f;
  --red-soft: rgba(241, 73, 63, 0.1);

  --padding: 0.5rem;
  --text-color-secondary: #8e8e92;

  /* Light Styles */
  --background-color-primary: white;
  --background-color-secondary: #f4f5f7;
  --border-color: #bbbbbb;
  --text-color-primary: black;
}

[data-theme="dark"] {
  --background-color-primary: #151517;
  --background-color-secondary: #1f2023;
  --border-color: #434444;
  --text-color-primary: white;
}

* {
  margin: 0;
  padding: 0;
  color: var(--text-color-primary);

  font-family: "Switzer", sans-serif;
  font-weight: 600;
  letter-spacing: 0.105rem;
}

body {
  background-color: var(--background-color-primary);
  width: 100%;
}

#root {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--text-color-primary);
}

b {
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

button.transparent {
  background-color: transparent;
  border: none;
}

form > * {
  margin-bottom: 1rem;
}

form > *:last-child {
  margin-bottom: 0;
}

header {
  top: 0;
  height: 3rem;
  width: 100%;
  position: fixed;
  background-color: var(--background-color-primary);
}

h1 {
  height: auto;
  font-weight: 800 !important;
  font-size: 3rem;
}

h2 {
}

h2.positive {
  color: var(--green);
}

h2.negative {
  color: var(--red);
}

i {
  margin: 0;
}

i:hover {
  cursor: pointer;
}

i.bg {
  border-radius: 50%;
  padding: 1rem;
  background-color: var(--background-color-secondary);
}

input {
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-primary);
  padding: var(--padding);
  font-size: 1rem;
}

input:focus {
  outline: none;
}

input.text-secondary {
  color: var(--text-color-secondary);
}

input.rounded {
  border-radius: var(--border-radius-secondary) !important;
}

li {
  list-style: none;
}

li.center {
  text-align: center;
}

li.left {
  text-align: left;
}

li.right {
  text-align: right;
}

li.negative {
  color: var(--red);
}

li.positive {
  color: var(--green);
}

li.secondary {
  color: var(--text-color-secondary);
}

li.small {
  font-size: 0.75rem;
}

path.positive {
  color: var(--green);
}

span {
}

span.large {
  font-size: 1.25rem;
}

span.negative {
  color: var(--red);
}

span.positive {
  color: var(--green);
}

span.secondary {
  color: var(--text-color-secondary);
}

span.small {
  font-size: 0.75rem;
}

svg.icon {
  height: 1.5rem;
  cursor: pointer;
}

svg.icon.large {
  height: 4rem;
}

tbody {
}

tbody tr:last-child td {
  border-bottom: none !important;
}

td {
  padding: var(--padding);
}

td.positive {
  color: var(--green);
}

td.negative {
  color: var(--red);
}

td.underline {
  border-bottom: 1px solid var(--border-color);
}

th {
  text-align: left;
}

td.center,
th.center {
  text-align: center;
}

td.right,
th.right {
  text-align: right !important;
}

td.secondary,
th.secondary {
  color: var(--text-color-secondary);
}

th.small {
  font-size: 0.85rem;
}

thead:hover {
  cursor: default;
}

thead:hover tr {
  background-color: transparent;
}

tr:hover {
  background-color: var(--background-color-secondary);
}

.a {
}

.align-center {
  align-items: center;
}

.b {
}

.border-box {
  box-sizing: border-box;
}

.border-grey {
  border: 1px solid var(--border-color) !important;
}

.border-primary {
  border: 1px solid var(--primary-color) !important;
}

.border-primary:hover {
  box-shadow: 0px 0px 3px 2px var(--primary-color) !important;
}

.border-radius-1 {
  border-radius: var(--border-radius-primary) !important;
}

.border-radius-2 {
  border-radius: var(--border-radius-secondary) !important;
}

.border-secondary {
  border: 1px solid var(--secondary-color) !important;
}

.border-secondary:hover {
  box-shadow: 0px 0px 3px 2px var(--secondary-color) !important;
}

.border-underline {
  border-bottom: 1px solid var(--border-color);
}

.btn {
  padding: 0.55rem;
  font-weight: 750 !important;
  font-size: 1rem;
  color: var(--text-color-primary);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-primary);
  background-color: transparent;
}

.btn:disabled {
  color: var(--text-color-secondary);
}

.btn:disabled:hover {
  box-shadow: none;
  cursor: default;
}

.btn:hover {
  cursor: pointer;
  transition: linear 0.2s;
  box-shadow: 0px 0px 3px 2px;
}

.btn.border-grey:hover {
  background-color: rgb(65, 68, 68, 0.1);
}

.btn.negative {
  background-color: var(--red);
}

.btn.negative:hover {
  box-shadow: 0px 0px 1px 1px var(--red) !important;
}

.btn.positive {
  background-color: var(--green);
}

.btn.positive:hover {
  box-shadow: 0px 0px 1px 1px var(--green) !important;
}

.btn.primary {
  background-color: white;
  color: black;
}

.btn.primary:hover {
  box-shadow: 0px 0px 3px 2px white;
}

.btn-radio-group {
  display: flex;
  align-items: center;
  background-color: var(--background-color-secondary);
  border-radius: var(--border-radius-secondary);
  padding: 0.1rem;
  overflow: hidden;
}

.btn-radio-group.transparent {
  background-color: transparent !important;
}

.btn-radio-group.transparent .btn:hover {
  background-color: var(--background-color-secondary);
}

.btn-radio-group.transparent .btn.active {
  background-color: var(--background-color-secondary);
}

.btn-radio-group .btn {
  background-color: transparent;
  border: none;
  height: 100% !important;
  width: 100% !important;
}

.btn-radio-group .btn:hover {
  box-shadow: none;
  background-color: var(--background-color-primary);
  border-radius: var(--border-radius-secondary);
}

.btn-radio-group .btn.active {
  background-color: var(--background-color-primary);
  border-radius: var(--border-radius-secondary);
  transition: background-color 0.7s ease-in-out;
}

.btn.rounded {
  border-radius: var(--border-radius-secondary) !important;
}

.btn.secondary {
  background-color: var(--secondary-color);
  color: var(--text-color-primary);
}

.btn.secondary:hover {
  box-shadow: 0px 0px 3px 2px var(--secondary-color);
}

.btn.submit {
  background-color: blue;
  border: none !important;
}

.btn.submit:hover {
  box-shadow: 0px 0px 1px 1px blue !important;
  border: none !important;
}

.bottom-0 {
  bottom: 0;
}

.c {
}

.card {
  padding: var(--padding);
  border-radius: var(--border-radius-primary);
  border: 1px solid var(--border-color);
  width: 100%;
}

.card.chart-container {
  display: flex;
  flex-direction: column;
}

.card.overlay {
  position: fixed;
  background-color: var(--background-color-primary);
  width: 100%;
}

@media (min-width: 425px) {
  .card.card.overlay {
    width: 50%;
    top: 20%;
  }
}

.card.performance {
  height: 24.25rem;
}

.card.user-orders.profile {
  min-height: 0;
  max-height: 25rem;
  display: flex;
  align-items: center;
}

.chart {
  width: 100%;
  height: 100%;
}

.chart.echart-chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container.asset-allocation {
  height: 20rem;
}

.chart-container.portfolio-growth {
  height: 20rem;
}

.chart-container.ticker-chart {
  height: 20rem;
}

.chart-container.weekday-gains {
  height: 20rem;
}

.container {
  padding: var(--padding);
  border-radius: var(--border-radius-primary);
}

.d {
}

.dotted-bottom {
  border-bottom: 2px dotted var(--border-color);
}

.dom-element {
  width: 0;
  background-color: red;
  transition: width 0.5s;
}

.dom-element.active {
  transition-timing-function: linear;
}

.dual-button .btn {
  border-radius: var(--border-radius-primary) 0 0 var(--border-radius-primary);
}

.dual-button .btn:last-child {
  border-radius: 0 var(--border-radius-primary) var(--border-radius-primary) 0;
}

.dual-button .btn.active {
  color: var(--text-color-primary);
}

.d-col {
  display: flex;
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.d-row {
  display: flex;
  flex-direction: row;
}

.e {
}

.error {
  color: red;
}

.everything-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f {
}

.flex-end {
  justify-content: flex-end;
}

.gap-1 {
  display: flex;
  gap: 1rem;
}

.gap-2 {
  display: flex;
  gap: 2rem;
}

.gap-3 {
  display: flex;
  gap: 3rem;
}

.global-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.global-layout-inner {
  height: 100%;
}

@media (max-width: 425px) {
  .global-layout-inner {
    width: 100% !important;
  }
}

@media (min-width: 425px) {
  .global-layout-inner {
    width: 90% !important;
  }
}

@media (min-width: 900px) {
  .global-layout-inner {
    width: 55% !important;
  }
}

.g-1 {
  display: flex;
  gap: 1rem;
}

.g-2 {
  display: flex;
  gap: 2rem;
}

.g-3 {
  display: flex;
  gap: 3rem;
}

.g-4 {
  display: flex;
  gap: 4rem;
}

.header.profile {
  height: 10rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.header.profile #username {
  padding-top: 0;
  margin: 0;
  line-height: 1;
}

.h-100 {
  height: 100% !important;
}

.img-container.profile {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
}

.img-container.profile img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  display: block;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.justify-sb {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.k {
}

.l {
}

label.secondary {
  color: var(--text-color-secondary);
}

label.small {
  font-size: 0.75rem;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-5 {
  margin-top: 5rem;
}

.overlay-container {
  position: fixed;
  display: none;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.pointer {
  cursor: pointer;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-5 {
  padding-top: 5rem;
}

.sidebar {
  height: 100vh;
  width: 50%;
  position: fixed;
  display: flex;
  flex-direction: column;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: var(--background-color-primary);
  padding: var(--padding);
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%);
  transition: opacity 0.5s linear, transform 0.2s linear, visibility 0s 0.2s;
}

.sidebar.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: opacity 0.2s linear, transform 0.2s linear, visibility 0s 0s;
  z-index: 999;
}

.sidebar-container.active {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.sidebar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.sidebar-item:hover {
  background-color: var(--background-color-secondary);
}

.sidebar-item.active {
  background-color: #d9534f;
}

.t {
}

.tab-bar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.tab-bar.underline {
  border-bottom: 1px solid var(--border-color);
}

.tab-bar .btn {
  border: none !important;
  border-radius: 0 !important;
}

.tab-bar .btn:hover {
  border: 0 !important;
  box-shadow: none !important;
}

.tab-bar .btn.active {
  border-bottom: 1px solid var(--primary-color) !important;
}

.tab-bar .btn.active:hover {
  border-bottom: 1px solid var(--primary-color) !important;
}

.tab-bar .btn.active span {
  color: var(--text-color-primary) !important;
}

.tab-bar .btn:hover span {
  color: var(--text-color-primary);
}

.text-secondary {
  color: var(--text-color-secondary);
}

.w {
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}
